<!-- nav bar -->
<app-nav-bar [auth]="false" [username]=""></app-nav-bar>
<!-- =========== -->
<div class="container" >
    <div class="login-form mt-5 mr-auto">
        <ng-container  *ngIf="errors.length>0">
           <div class="alert alert-danger">
            <p *ngFor="let item of errors">{{item}}</p>
           </div>
        </ng-container>
        
        <h1 class="text-success text-center mb-5">Register To Todoo</h1>
        <form action="/ "  #form="ngForm"> 
            <div class="form-group mb-4">
                <label for="name " class="text-muted h4 ">User Name</label>
                <input type="text" 
                class="form-control form-control-lg" id="name"
                aria-describedby="emailHelp" required placeholder="Enter User name" name="name"
                ngModel #name="ngModel"
                [(ngModel)]="userRegister.name"
                 
                 >
              <div  *ngIf="name.touched && name.invalid" class="alert alert-danger mt-2">
                <ng-container *ngIf="name.errors?.required">
                  error must enter the name
                  <br>
                </ng-container>
                <ng-container *ngIf="name.errors?.minlength">
                  error must enter the name lenth more then 3
                  <br>
                </ng-container>
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="exampleInputEmail1 " class="text-muted h4 ">Email address</label>
              <input type="email" class="form-control form-control-lg" 
              id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Enter email" name="email" required
                ngModel #email="ngModel" email [(ngModel)]="userRegister.email">  
               <div  *ngIf="email.touched && email.invalid" class="alert alert-danger mt-2">
                  <ng-container *ngIf="email.errors?.required">
                    error must enter the Email
                    <br>
                  </ng-container>
                  <ng-container *ngIf="email.errors?.email">
                      error must enter the Email valid
                      <br>
                    </ng-container>
                </div>
            </div>
            <div class="form-group mb-4">
              <label for="exampleInputPassword1  " class="text-muted h4">Password</label>
              <input type="password" class="form-control form-control-lg" 
              id="exampleInputPassword1" placeholder="Password" name="password" required
              ngModel  #password="ngModel" [(ngModel)]="userRegister.password" minlength="" 
              >
              <div  *ngIf="password.touched && password.invalid" class="alert alert-danger mt-2">
                  <ng-container *ngIf="password.errors?.required">
                    error must enter the password
                    <br>
                  </ng-container>
                  <ng-container *ngIf="password.errors?.minlength">
                    error must enter the password lenth more then 3
                    <br>
                  </ng-container>
                </div>
            </div>
            <div class="button">
              <button type="submit" (click)="save()" [disabled]="form.invalid || flag" class="btn btn-primary btn-block btn-lg">Submit</button>
            </div>
            <p *ngIf="flag" class="text-center mt-3">
                <img src="https://qrinfopoint.com/img/loading.gif" width="100" >
              </p>
          </form>
    </div>
  </div>